*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.bg{
    background-image: url('https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?cs=srgb&dl=pexels-francesco-ungaro-281260.jpg&fm=jpg');
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
     padding: 12px 28px;
     margin: 10px;
     background: linear-gradient( #667eea, #764ba2);
     color: #fff;
     border-radius: 10px;
     font-weight: 600;
     font-size: 1rem;
     box-shadow: 0 4px 12px rgba(118, 75, 162, 0.3);
}

