    *{
            padding: 0;
            margin: 0;
           box-sizing: border-box;
        }
        .bg{
         background-image: linear-gradient(lightblue,white);
         height: 100vh;
         display: flex;
         justify-content: center;
         align-items: center;
        background-size: cover;
         }
         .bg form{
            background-color: white;
            height: 550px;
            width: 450px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
         }
       .btn{
        background: linear-gradient(135deg, #667eea, #764ba2);
        color: white;
        border: none;
        border-radius: 12px;
        padding: 12px 20px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(118, 75, 162, 0.3);
       }
       input{
          width: 70%;
          padding: 12px;
          border: 1px solid #444;
          border-radius: 8px;
          background-color:lightgoldenrodyellow;
          color: black;
          font-size: 1rem;
          margin: 8px;
          cursor: pointer;
       }